Left justified container with one element breaking out of the norm
<div class="left-aligned-container">
  <div class="element">1</div>
  <div class="element">2</div>
  <div class="element">3</div>
  <div class="element">4</div>
  <div class="element">not just numbers!</div>
  <div class="element but right-aligned">5</div>
</div>
<hr />
Right justified container with one element breaking out of the norm
<div class="right-aligned-container">
  <div class="element but left-aligned">1</div>
  <div class="element">2</div>
  <div class="element">3</div>
  <div class="element">4</div>
  <div class="element">5</div>
  <div class="element">not just numbers!</div>
</div>
<hr />
Left justified container with more than one element breaking out of the norm
<div class="left-aligned-container">
  <div class="element">1</div>
  <div class="element">2</div>
  <div class="element">3</div>
  <div class="element">4</div>
  <div class="element">not just numbers!</div>
  <div class="element but right-aligned">5</div>
  <!--only mark the first one that breaks off with the class that sets margin-left: auto -->
  <div class="element but">another one</div>
</div>
<hr />
Right justified container with more than one element breaking out of the norm
<div class="right-aligned-container">
  <div class="element but">1</div>
  <div class="element but left-aligned">another one</div>
  <!--only mark the last one that breaks off with the class that sets margin-right: auto -->
  <div class="element">2</div>
  <div class="element">3</div>
  <div class="element">4</div>
  <div class="element">5</div>
  <div class="element">not just numbers!</div>
</div>
